@import './fonts/fonts.css';

body {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 400; /* Regular weight */
  margin: 0;
}

div#root{
  display: flex;
  column-gap: 84px;
  min-height: 100vh;
  background-color: #f0f3f3;
}

.sidebarBody {
  background: linear-gradient(165deg, #26d6c4 0%, #10b1d3 100%);
  color: #fafafa;
  text-align: center;
  max-width: 20vw;
  width: 100%;
}
.sidebar.header {
  background-color: #4bb2ae;
  box-shadow: 0px 7px 18px hsla(242, 16%, 42%, 0.38), 2px 3px 6px hsla(0, 0%, 64%, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
}
a.sitename {
  margin: 0;
  text-align: center;
  color: #fafafa;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  padding: 8px 18px;
}
p.day {
 font-size: 20px;
 margin: 26px 0 0 0;
}
p.date {
  font-size: 84px;
  font-weight: 300;
  margin: 16px 0;
  line-height: 72px;
}
div.calendarContainer {
  margin-top: 72px;
}
div.react-datepicker {
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0px 8px 25px hsla(255, 24%, 91%, 1);
  border: none;
}
div.react-datepicker__header {
  background-color: #18bad0;
  color: white;
}
div.react-datepicker__current-month {
  color: white;  
}
div.react-datepicker__day-name {
  color: white;
}
button.react-datepicker__navigation:hover {
  opacity: 0.7;
}
.react-datepicker__navigation-icon::before {
  border-color: #fafafa !important;
}
div.react-datepicker__day--selected {
  background-color: #1cc5cb;
}
.react-datepicker__day--selected:hover {
  background-color: #1cc5cb !important;
  filter: saturate(140%);
}

div.feedContainer {
 width: 60vw;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}
form.form_create-task {
  width: 100%;
  display: flex;
  flex-direction: column;
}
input.form_field.description {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #d9dddd;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 7px 0 20px;
  margin-left: 7px;
  height: 5ch;
  font-size: 0.875rem;
}
input.form_field.description::placeholder {
  color: #848686;
}
div.formSubmitBottomRow {
  display: flex;
  width: 100%;
  margin-top: 8px;
  align-items: center;
}
div.datesContainer {
display: flex;
}
input.form_field.time_input {
  border: 1px solid #d9dddd;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  width: 18ch;
  height: 2.5ch;
  font-size: 12px;
  color: #404242;
  padding: 4px 8px;
}
button.form_button {
  background: linear-gradient(165deg, #26d6c4 0%, #10b1d3 100%);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 3.5ch;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  box-shadow: 0 2px 15px rgba(28, 197, 203, 0.5);
  margin-left: 12px;
}
button.form_button:hover {
  filter: saturate(120%);
}
div.task_feed.incomplete {
  height: 50vh;
}

div.navigationColumn {
  width: 20vw;
  display: flex;
}

h1 {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700; /* Black weight */
}

p {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 400;
}

