div.desktopOnly .homeBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.desktopOnly .h1_home {
  margin-bottom: 12px;
}

.form_create-task {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.form_field {
  border-radius: 7px;
  margin: 0 4px;
}

div.desktopOnly h2.task_feed_title {
  color: #1c1e1e;
}

.buffer_container {
  display: flex;
}
.buffer_task-list {
  display: flex;
  flex-direction: column;
}
.buffered_task {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}
.buffer {
  align-self: center;
}
div.row_item {
  border-bottom: 2px solid #e6e5f1;
  border-radius: 14px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 25px hsla(255, 24%, 91%, 1);
  height: auto;
  padding: 8px 14px;
  margin: 0 12px 12px -12px;
}
div.columnsContainer {
  display: flex;
  width: 100%;
}
div.taskInformation {
  width: 100%;
}
.custom-checkbox {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #a4a4a4;
  cursor: pointer;
  margin-right: 16px;
  align-self: center;
}
div.buffer.description {
  padding-bottom: 6px;
}
div.bottomRow {
  display: flex;
  color: #242424;
  padding-top: 6px;
  border-top: 1px solid #e8e8e8;
}
div.buffer.time {
  margin-right: 5px;
  font-size: 13px;
  letter-spacing: 0.2px;
}
button.edit_button {
  margin: 0 12px 0 auto;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #a7a7a7;
  color: #434343;
  font-size: 11px;
  letter-spacing: 0.2px;
  padding: 2px 6px;
  opacity: 0.85;
  box-shadow: inset 0 -4px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset -1px -4px 5px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.6);
}
