.homeBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1_home {
  margin-bottom: 12px;
}

body {
  margin: 0;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_create-task {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.form_field {
  border-radius: 7px;
  margin: 0 4px;
}
.form_field.description {
  width: 35ch;
  height: 7ch;
  margin-right: 8px;
}

.header_task-list {
  display: flex;
}
.header_title.time {
  width: 15ch;
  font-size: 16px;
  font-weight: 600;
}
.header_title.description {
  width: 30ch;
}
h2.header_title {
  font-size: 16px;
  font-weight: 600;
}

.buffer_container {
  display: flex;
}
.buffer_task-list {
  display: flex;
  flex-direction: column;
}
.buffered_task {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  height: 75px;
}
.buffer {
  align-self: center;
}
.buffer.time {
  width: 15ch;
}
.buffer.description {
  width: 30ch;
}

.row_item {
}

.edit_panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.custom-checkbox {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #a4a4a4;
  cursor: pointer;
  margin-right: 5vw;
  align-self: center;
}
.edit_button {
  margin: 3px;
}
