/* ISOLATE FOR MOBILE */
@media only screen and (max-width: 768px) {
  div.desktopOnly {
    display: none;
  }
  
  body {
    background-color: #212227;
  }

  div.mobileOnly {
    display: flex;
    flex-direction: column;
    background-color: #212227;
    color: #ebecee;
    height: 100vh;
  }
}
/* HEADER */
div.header_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px 10px 16px;
}
div.mobileOnly h2 {
  color: #ebecee;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}
div.mobileOnly .loaderContainer {
  margin: -10px auto 0 10px;
  overflow: hidden;
  height: 35px;
}
div.mobileOnly svg.menuIcon {
  margin: 0;
  width: 18px;
  height: 18px;
  padding: 0 12px;
}
div.mobileOnly .carousel {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
div.mobileOnly .carouselContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 8px;
}
div.mobileOnly .weekNavButton {
  color: #ebecee;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 17px;
  padding: 12px 12px;
}
div.mobileOnly .day.selected {
  background-color: #00a39c;
}
div.mobileOnly .day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  background-color: transparent;
  border: none;
  color: #ebecee; 
  border-radius: 6px;
  cursor: pointer;
}
span.dayNumber {
  font-weight: 500;
  margin-top: 3px;
}
div.mobileOnly .selected {
  background-color: #00f; /* Highlight color for the selected day */
  color: #fff;
}
/* TAP DAY TO OPEN CALENDAR SELECTOR */
div.mobileOnly .calendarContainer {
  position: fixed; /* or 'absolute' depending on your layout */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Ensure it's above other content */
  background: #00000045;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.mobileOnly .mobileOnly.showingCalendar::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5; /* Below the calendar but above other content */
}
/* TASKS TABS CONTAINER */
div.mobileOnly .tab-component {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 16px;
}

div.mobileOnly .tab-content {
  flex-grow: 1; /* Allows content to take up the rest of the space */
  margin-top: 22px;
}
div.mobileOnly .header_task-list {
  width: 93%;
  margin: 0 auto;
}
div.mobileOnly .content {
  width: 93%;
  margin: 12px auto;
  overflow: hidden;
  max-width: 95%;
}
div.mobileOnly .row_item {
  margin: 0 0 18px 0;
  background-color: transparent;
  border: none; 
  padding: 0;
  height: auto;
}
div.mobileOnly .columnsContainer {
  display: grid;
  grid-template-columns: 1fr 20fr;
  width: 100%;

}
div.mobileOnly div.buffer.description {
  font-size: 13.5px;
  font-weight: 500;
  padding-bottom: 6px;
  width: auto;
  word-wrap: anywhere;
}
div.mobileOnly input.buffer_is_Complete {
  display: none;
}
div.mobileOnly .custom-checkbox {
  margin-right: 3.5vw;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #a4a4a4;
  cursor: pointer;
  align-self: center;
}
div.mobileOnly div.bottomRow {
  display: flex;
  align-items: center;
  padding-top: 5px;
  border-top: 1px solid #ffffff1a;
}

div.mobileOnly .tab-buttons {
  width: 95%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}
div.mobileOnly .buffer.time {
  margin-right: 10px;
  font-size: 12px;
  width: auto;
}
div.mobileOnly .timespan {
  margin-right: 10px;
  font-size: 11px;
  padding: 0 1.5px;
}
div.mobileOnly .edit_button.delete {
  margin-left: auto;
  color: #ebecee;
  border: 1px solid #ebecee;
  background-color: transparent;
  border-radius: 20px;
  font-size: 9.5px;
  padding: 2px 5px;
  opacity: 0.87;
}
div.mobileOnly .tab-buttons button {
  flex-grow: 1;
  width: 50%;
  padding: 10px 20px;
  background: none;
  margin: 0 2px;
  border-radius: 5px;
  border: 2px solid #ebeceeb8;
  color: #ebecee;
}

div.mobileOnly .tab-buttons button.active {
  border: 2px solid #00a39c;
  font-weight: 500;
}
/* NEW TASK - FORM POPUP */
div.mobileOnly .mobile_new-task {
  background: linear-gradient(165deg, #26d6c4 0%, #10b1d3 100%);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  box-shadow: 0 2px 15px rgba(28, 197, 203, 0.5);
  width: 95%;
  margin: 5px auto;
}
div.mobileOnly .mobile_new-task:hover {
  filter: saturate(120%);
}
div.mobileOnly .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000045;
  z-index: 1000; /* Ensure it's above other content */
}
div.mobileOnly .form_create-task {
  padding: 20px 16px;
  margin: 18px auto;
  background-color: #595959f7;
  border-radius: 20px;
  align-items: center;
  width: 80%;
}
div.mobileOnly .formSubmitBottomRow {
  flex-direction: column;
}
div.mobileOnly .datesContainer {
  width: 100%;
}
div.mobileOnly .react-datepicker-wrapper {
  width: 50%;
}
div.mobileOnly .react-datepicker__input-container {
  display: flex;
}
div.mobileOnly .form_field.description {
  font-size: 18px;
}
div.mobileOnly .time_input {
  margin: auto;
  width: 80%;
  font-size: 18px;
}
div.mobileOnly .form_button.submit {
  width: 100%;
  margin-top: 12px;
}

